*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* ************************************************** */
@font-face {
  font-family: "robot-normal";
  src: url(./assets/fonts/Roboto-VariableFont_wdth\wght.ttf);
}
@font-face {
  font-family: "roboto-italic";
  src: url(./assets/fonts/Roboto-Italic-VariableFont_wdth\wght.ttf);
}

/* ********* SCROLL BAR ************ */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--active-item-sidebar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray);
}

/* ********************** */

:root,
:root.light-mode {
  font-size: 14px;
  --main-font: "roboto-normal";
  --italic-font: "roboto-italic";
  --bg-color: #fafafa;
  --sidebar-bg: #f5f5f5;
  --sidebar-color: #6d6d6d;
  --active-item-sidebar: #e9e9e9;
  --card-bg: #ffffff;
  --color-main: #141414;
  --color-gray: #6d6d6d;
  --blue: #4a63fd;
  --blue-bg: #eaebff;
  --red: #f26166;
  --red-bg: #feeaeb;
  --orange: #ecc045;
  --orange-bg: #fbf4e8;
  --green: #4cbc40;
  --green-bg: #e8f4e8;

  /* Switch Theme Button */
  .theme-switch .switch-theme-btn {
    width: 3rem;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: var(--active-item-sidebar);
    display: flex;
    padding: 0.2rem;
    position: absolute;
    right: 0;
  }

  .theme-switch .switch-theme-btn > * {
    width: 45%;
    height: 100%;
    background-color: var(--sidebar-color);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
}

:root.dark-mode {
  --bg-color: #151520;
  --sidebar-bg: #1e1e2c;
  --sidebar-color: #ffffffe1;
  --active-item-sidebar: #232c44;
  --card-bg: #1e1e2c;
  --color-main: #e9e9e9;
  --color-gray: #9c9c9c;
  --blue: #7083fd;
  --blue-bg: #375e8d;
  --red: #af4852;
  --red-bg: #461f2b;
  --orange: #d6ab35;
  --orange-bg: #70552a;
  --green: #2f9d63;
  --green-bg: #1e3e33;

  .theme-switch .switch-theme-btn {
    width: 3rem;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: var(--active-item-sidebar);
    display: flex;
    padding: 0.2rem;
    position: absolute;
    right: 0;
  }

  .theme-switch .switch-theme-btn > * {
    width: 45%;
    height: 100%;
    background-color: var(--blue);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
}

html,
body {
  width: 100%;
  font-family: var(--main-font), sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

.container {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: minmax(260px, 300px) 1fr;
  grid-template-rows: 80px 1fr;
  background-color: var(--bg-color);
  overflow: hidden;
}

.card {
  border: 1px solid var(--active-item-sidebar);
  color: var(--color-main);
  background-color: var(--card-bg);
  border-radius: 1rem;
}

/************************* SIDEBAR ******************************/

.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-bg);
  grid-row: 1 / -1;
  padding: 2rem;
  color: var(--color-main);
  border-right: 1px solid var(--active-item-sidebar);
  gap: 1rem;
}

.sidebar-container .logo-section {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar-container .logo-section i {
  font-size: 1.7rem;
}

.sidebar-container ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1.5rem;
}

.sidebar-container ul li {
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  margin: 0.5rem 0;
}

.sidebar-container ul li:hover {
  background-color: var(--active-item-sidebar);
}

.sidebar-container ul li a {
  text-decoration: none;
  color: var(--sidebar-color);
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar-container div + * {
  color: var(--sidebar-color);
}

.sidebar-container .side-item {
  display: flex;
  gap: 0.5rem;
  /* padding: 0.5rem 1rem; */
  padding: 0.5rem 0rem 0.5rem 0.5rem;
}

.sidebar-container .active-item {
  background-color: var(--active-item-sidebar);
}

.sidebar-container .upgrade-account {
  display: flex;
  flex-direction: column;
  background-color: var(--active-item-sidebar);
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 0.8rem;
  margin-top: 1rem;
  color: var(--color-main);
}

.sidebar-container .upgrade-account h4 span {
  background-color: #4a63fd;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.upgrade-account p {
  font-size: 1rem;
}

.upgrade-account button.upgrade-now-btn {
  border: none;
  background-color: #4a63fd;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  transition: all 0.2s ease-in-out;
}

.upgrade-account button.upgrade-now-btn:hover {
  opacity: 0.8;
}

.theme-switch {
  position: relative;
}

.user-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/************************* NAVBAR ******************************/
.container .navbar-container {
  display: flex;
  grid-column: 2 / -1;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem 0 2rem;
  gap: 2rem;
}

.navbar-container div.current-user {
  margin-right: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}

.navbar-container .notification {
  min-width: 3rem;
  min-height: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container .search-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0.2rem 0.5rem 1rem;
  height: 3rem;
}

.navbar-container .search-box input,
.navbar-container .search-box input:focus {
  border: none;
  outline: none;
  background-color: var(--card-bg);
  color: var(--color-main);
}

.navbar-container .search-box-remove-text {
  font-size: 1.3rem;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.navbar-container .search-box-remove-text:hover {
  background-color: var(--bg-color);
}

.navbar-container .user-settings {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  flex-shrink: 0;
}

/* *********************** DASHOBORAD *******************8 */

.dashboard-container {
  padding: 1rem 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 500px 1fr;
  gap: 1rem;
  overflow-y: auto;
}

/* *********************** TOTAL STASTICS ****************** */

.statistics-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  gap: 1.5rem;
}

.statistics-container .card {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statistics-container .card i {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
}

.statistics-container .card:first-child i {
  background-color: var(--blue-bg);
  color: var(--blue);
}

.statistics-container .card:nth-child(2) i {
  background-color: var(--orange-bg);
  color: var(--orange);
}

.statistics-container .card:nth-child(3) i {
  background-color: var(--green-bg);
  color: var(--green);
}

.statistics-container .card:last-child i {
  background-color: var(--red-bg);
  color: var(--red);
}

.statistics-container h4 {
  margin-bottom: 0.3rem;
  color: var(--color-gray);
}

/* ******************* PROJECT SECTION ***************** */

.projects-container {
  grid-column: 1 / span 3;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  overflow: auto;
}

.projects-container > h4 {
  grid-column: 1 / -1;
}

.projects-container p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.projects-container .card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px dashed var(--active-item-sidebar);
  border-left: 2px solid var(--active-item-sidebar);
  max-height: 280px;
  overflow: hidden;
}

.projects-container .card div {
  align-self: flex-end;
  display: flex;
  gap: 1.5rem;
}

.projects-container .card div > * {
  padding-left: 1rem;
  border-left: 2px solid var(--active-item-sidebar);
}

.projects-container .card div > *:first-child {
  border-left: none;
}

/* ************* announcement-container *****************8888 */
.news-container {
  grid-column: 4;
  padding: 1rem;
  overflow: auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  overflow-x: none;
}

.news-container .new-news {
  width: 100%;
  min-height: fit-content;
  border-bottom: 1px solid var(--active-item-sidebar);
  padding: 0.5rem 0;
}

.news-container .new-news:last-child {
  border-bottom: none;
}

.news-container .new-news p {
  color: var(--color-gray);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* ********** RECENT ORDER TABLE CONTAINER ******** */
table,
td,
th {
  text-align: center;
}

.recent-order-container table {
  width: 100%;
}

.recent-order-container table th {
  border-bottom: 1px solid var(--active-item-sidebar);
}

.recent-order-container {
  padding: 1rem;
  grid-column: 1 / -1;
  overflow: auto;
}

.recent-order-container th,
.recent-order-container td {
  padding: 1rem 2rem;
}

.order-status {
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.order-status.confirmed-order {
  background-color: var(--green-bg);
  color: var(--green);
}

.order-status.failed-order {
  background-color: var(--red-bg);
  color: var(--red);
}

.order-status.pending-order {
  background-color: var(--orange-bg);
  color: var(--orange);
}

/* side bar opened btn */
.sidebar-opener-button {
  padding: 1.5rem;
  font-size: 1.4rem;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  display: none;
}

.sidebar-opener-button:hover {
  background-color: var(--bg-color);
}

/* sidebar closer btn ********* */
.sidebar-closer {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  transition: all 0.2s ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 1rem;
}

/* RESPONSIVE DESIGNS */

@media (max-width: 1320px) {
  .statistics-container {
    overflow-x: auto;
  }

  .statistics-container .card {
    padding: 0.7rem;
    min-width: 189px;
  }
}

@media (max-width: 965px) {
  .container {
    grid-template-columns: minmax(260px, 300px) 1fr;
    grid-template-rows: 80px 1fr;
  }
  .container .navbar-container {
    grid-column: 1 /-1;
    grid-row: 1/-1;
    gap: 1rem;
  }
  .dashboard-container {
    grid-column: 1/-1;
  }
  .projects-container {
    grid-column: 1 / -1;
  }
  .dashboard-container {
    grid-template-rows: 80px 500px 200px minmax(400px, 1fr);
  }
  .news-container {
    grid-column: 1 / -1;
    flex-direction: row;
  }
  .news-container .new-news {
    width: 200px;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid var(--active-item-sidebar);
    padding: 0 1rem;
  }

  .news-container .new-news:last-child {
    border-right: none;
  }

  .sidebar-container {
    visibility: hidden;
    transform: translateX(-200%);
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in-out;
    height: 100%;
  }

  .sidebar-container.activate-sidebar {
    visibility: visible;
    transform: translateX(0);
  }

  .sidebar-opener-button {
    display: flex;
  }
  .sidebar-closer {
    display: flex;
  }
}
@media (max-height: 1000px) {
  .dashboard-container {
    grid-template-rows: 80px 500px 200px minmax(400px, 1fr);
  }
}

@media (max-width: 660px) {
  .container .navbar-container .user-settings {
    display: none;
  }

  .container .navbar-container .search-box {
    width: fit-content;
  }
}

@media (max-width: 510px) {
  .container .navbar-container .search-box input,
  .container .navbar-container .search-box .search-box-remove-text {
    display: none;
  }
  .container .navbar-container .search-box {
    min-width: 3rem;
    min-height: 3rem;
    padding: 0.5rem;
    justify-content: center;
  }
}

@media (max-width: 458px) {
  .dashboard-container .statistics-container {
    grid-template: 1fr 1fr / 1fr 1fr;
    overflow-x: hidden;
    gap: 0.5rem;
  }

  .statistics-container .card {
    min-width: 150px;
  }

  .container .dashboard-container {
    grid-template-rows: 200px 500px 200px minmax(400px, 1fr);
  }
}
